@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

:root{
  --main-color: rgb(241 245 249);
  --dark-mode-color: rgb(15 23 42);
  --dark-mode-sec: rgb(30 41 59);
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  color: var(--dark-mode-color);
  font-family: 'Montserrat', sans-serif;
}

li:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
li:hover:after { transform: scaleX(1); }
li.fromRight:after{ transform-origin:100% 50%; }
li.fromLeft:after{  transform-origin:  0% 50%; }

#cta:hover { 
    transition: all 0.6s ease;
    transform: translateY(-0.5rem) scale(1);
    transform-origin: center;
}

#go-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#go-top:hover {
  background-color: #555;
}

.dark-mode {
  background-color: var(--dark-mode-color) !important;
  color: var(--main-color) !important;
  transition: 0.4s ease-in-out;
}

.img-darkmode {
  width: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate {
  transform: translateY(0);
  animation: transform 0.5s ease-in-out;
}

.title-provinsi { 
  animation: showup 2s 1;
}

@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
}


.disable {
  display: none;
}

.scrolled {
  -webkit-backdrop-filter: blur(10px); 
  /* Safari 9+ */ 
  backdrop-filter: blur(10px); 
  /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 300ms linear; 
  /* background-color: #0dcaf0 !important; */
}

.mobile-navbar {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.card-content {
  border-radius: 10px !important;
}

.card-content:hover {
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
.preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  height: 5px;
  display: block;
}
.progress-bar {
  background-color: #0dcaf0;
  width: 0%;
  display: block;
  height: inherit;
}

@keyframes ZoomIn {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
  
}

@keyframes OpacityEfect {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.content-home {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: OpacityEfect;
}

/* canvas {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s 1.42s, transform 1s 2s;
} */


.img-budaya{
  width: 80%;
  height: 80%;
}

.card-img {
    object-fit: cover;
}
.carousel-item > .card > img {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .carousel-item > .card > img {
    height: 200px;
  }

  .carousel-btn {
    top: 190%;
  }
  
  .carousel-control-prev {
    left: 20%;
  }
  
  .carousel-control-next {
    right: 20%;
  }

  
  .img-budaya{
    width: auto;
    height: auto;
  }
  
  .hide-mobile {
    display: none;
  }

  #list-budaya-dekstop {
    display: none;
  }

  #list-budaya-mobile {
    display: block !important;
  }
}

/* 
@media screen and (min-width: 992px) {
  .carousel-item > .card > img {
    height: 150px;
  }
} */

.main__splide_image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.splide__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}

/* The Modal (background) */
.modalku {
  display: none;
  position: fixed;
  z-index: 999999999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.article {
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

.mark {
  background: #0dcaf0;
}