@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root{
    --main-color: rgb(229 231 235);;
    --dark-mode-color: #1d1d1d;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  color: var(--dark-mode-color);
  font-family: 'Montserrat', sans-serif;
}

li:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
li:hover:after { transform: scaleX(1); }
li.fromRight:after{ transform-origin:100% 50%; }
li.fromLeft:after{  transform-origin:  0% 50%; }



canvas{
  z-index:-1;
  cursor: grabbing;
}

#cta:hover { 
    transition: all 0.6s ease;
    transform: translateY(-0.5rem) scale(1);
    transform-origin: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.dark-mode {
  background-color: var(--dark-mode-color) !important;
  color: var(--main-color) !important;
}

.img-darkmode {
  width: 30px;
}

#provinsi{
    background-image: url('/assets/img/kuda\ lumping.jpg');
    background-size: cover;
    
}

.disable {
  display: none;
}

.scrolled {
  background-color: #0dcaf0 !important;
  transition: background-color 300ms linear;
}

.mobile-navbar {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.card-content {
  border-radius: 12px 12px 0px 0px !important;
}

.card-content:hover {
  box-shadow: rgb(163, 163, 163) 10px 10px 5px;
}

.main-img:hover {
  box-shadow: rgb(160, 148, 148) 8px 8px 8px 8px !important;
}

